.modalmask {
  position: fixed;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalmask:target {
  opacity:1;
  pointer-events: auto;
}
.modalbox{
  width: 400px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius:3px;

}
.resize {
  margin: 10% auto;
  width:0;
  height:0;
}
.modalmask:target .resize{
  width:600px;
  height:200px;
}

